<div style="margin: 50px">
  <h3 id="phoneInput">Test International Telephone Input Form</h3>
  <br />

  <form #f1="ngForm" [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <ngx-mat-input-tel
        [cssClass]="'custom'"
        [preferredCountries]="['CA', 'US']"
        defaultCountry="US"
        enablePlaceholder
        enableSearch
        formControlName="phone"
        describedBy="phoneInput"
        required
        #phone
        maxLength="20"
      ></ngx-mat-input-tel>
      <mat-hint>e.g. {{ phone.$selectedCountry().placeholder }}</mat-hint>
      @if (phoneForm.controls.phone.errors?.required) {
        <mat-error> Required Field </mat-error>
      } @else if (phoneForm.controls.phone.errors?.maxlength) {
        <mat-error>
          Length:{{ phoneForm.controls.phone.errors?.maxlength.actualLength }}/{{
            phoneForm.controls.phone.errors?.maxlength.requiredLength
          }}
        </mat-error>
      } @else if (f1.submitted && phoneForm.controls.phone.errors?.validatePhoneNumber) {
        <mat-error> Invalid Number </mat-error>
      } @else if (phoneForm.controls.phone.errors?.invalidCountry) {
        <mat-error> Country not allowed in onlyCountries </mat-error>
      }
    </mat-form-field>

    <div class="buttons-container">
      <button mat-stroked-button>Submit</button>
      <button type="reset" mat-stroked-button (click)="onReset()">Reset</button>
    </div>
  </form>

  <br />
  <div class="value-container">
    <strong>Is form valid:</strong>
    <code>{{ phoneForm.valid }}</code>
  </div>
  <div class="value-container">
    <strong>Is input valid:</strong>
    <code>{{ !phoneForm.controls.phone.invalid }}</code>
  </div>
  <div class="value-container">
    <strong>Is input touched:</strong>
    <code>{{ phoneForm.controls.phone.touched }}</code>
  </div>
  <div class="value-container">
    <strong>Form value:</strong>
    <pre><code>{{ phoneForm.value | json }}</code></pre>
  </div>
  <div class="value-container">
    <strong>Form validation errors:</strong>
    @for (control of phoneForm.controls | keyvalue; track control) {
      <pre><code> {{ control.key }}: {{ control.value.errors | json }} </code></pre>
    }
  </div>

  <mat-divider></mat-divider>

  <form #f2="ngForm" [formGroup]="profileForm" class="second-form">
    <h2>Required, PlaceHolder & Separated</h2>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Phone</mat-label>
      <ngx-mat-input-tel
        [cssClass]="'custom'"
        [preferredCountries]="['US', 'FR']"
        [countriesName]="frCountriesName"
        [onlyCountries]="$onlyCountries()"
        [searchPlaceholder]="'Buscar...'"
        [formControl]="profileForm.controls.phone"
        resetOnChange
        placeholder="Your number"
        enableSearch
        #phone1
      ></ngx-mat-input-tel>
      <mat-hint>e.g. {{ phone1.$selectedCountry().placeholder }}</mat-hint>
      @if (profileForm.controls.phone.errors?.required) {
        <mat-error> Required Field </mat-error>
      }
      @if (profileForm.controls.phone.errors?.validatePhoneNumber) {
        <mat-error> Invalid Number </mat-error>
      }
      @if (profileForm.controls.phone.errors?.invalidCountry) {
        <mat-error> Country not allowed in onlyCountries </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="value-container">
    <strong>Form value:</strong>
    <pre><code>{{ f2.form.value | json }}</code></pre>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="profileForm" class="second-form">
    <h2>Separated Dial Code</h2>

    <mat-form-field floatLabel="always" appearance="outline" class="separated-flag">
      <mat-label>Phone</mat-label>
      <ngx-mat-input-tel
        resetOnChange
        placeholder="Your number"
        enableSearch
        separateDialCode
      ></ngx-mat-input-tel>
    </mat-form-field>
  </form>

  <mat-divider></mat-divider>

  <div>
    <h2>Inside a modal</h2>

    <button mat-raised-button (click)="openDialog()">Open Dialog</button>
  </div>
</div>
